.body-flex {
}


.body {
    display: flex;
    flex-direction: column;
    //margin-left: 5%;
    padding-left: 32px;
    padding-right: 32px;
    

    &--img {
        width: 3rem;
        margin-top: 10%;
        margin-bottom: 2%;
    }

    &--title {
        font-size: 1em;
        font-weight: 500;
        color: rgb(33, 35, 38);
        margin-bottom: 1%;
        
    }

    &--paragraph {
        margin-top: 1%;
        font-size: 1em;
        font-weight: 400;
        color:rgb(107, 113, 119);
        margin-bottom: 5%;
    }
}